@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 16px 16px;
  overflow-x: hidden;
}
